In [1]:
import pandas as pd
import numpy as np
import time

timestr =time.strftime("%d%m%y")

In [2]:
# importing lineups

line = pd.read_csv('poop{date}.csv'.format(date=timestr))
# importing player pool
kay = pd.read_csv('output2{date}.csv'.format(date=timestr))

In [2]:
# Aftermath

In [ ]:
## annotate lineups

In [4]:
long = pd.read_csv('output{date}.csv'.format(date=timestr))

In [5]:

### in the future i can add each lineups 
### actual results and put it in a dataframe. Then run a machine learning model on it


kay3 = dict(zip(long.nameid, long['Name + ID']))
#kay20 = kay.copy()
#kay20['aFPTS'] = kay20.Name.map(kay4)

#kay3 = dict(zip(kay20.nameid, kay20.aFPTS))

line['p1']=line.PG.map(kay3)
line['p2']=line.SG.map(kay3)
line['p3']=line.SF.map(kay3)
line['p4']=line.PF.map(kay3)
line['p5']=line.C.map(kay3)
line['p6']=line.G.map(kay3)
line['p7']=line.F.map(kay3)
line['p8']=line.UTIL.map(kay3)
line['tot'] = line.p1 + line.p2 + line.p3 + line.p4 + line.p5 + line.p6 + line.p7 + line.p8

In [6]:
results = pd.read_csv('gpp{date}.csv'.format(date=timestr))

In [7]:


rr = pd.read_csv('rr{date}.csv'.format(date=timestr))

In [8]:
## configure lineups so actual totals can be added

In [9]:


kay3 = dict(zip(kay.nameid, kay.name))

position = ['PG', 'SG', 'SF', 'PF', 'C', 'G', 'F', 'UTIL']

for p in position:
    line[p] = line[p].map(kay3)

In [10]:
kay4 = dict(zip(rr.Name, rr.fpts))

position = ['PG', 'SG', 'SF', 'PF', 'C', 'G', 'F', 'UTIL']
pluck = ['p1', 'p2', 'p3','p4','p5', 'p6', 'p7', 'p8']
count = 0
for p in position:
    line[pluck[count]] = line[p].map(kay4)
    count = count+1

line['tot'] = line.p1 + line.p2 + line.p3 + line.p4 + line.p5 + line.p6 + line.p7 + line.p8

In [11]:
results.insert(12,'final', line.tot)

In [12]:
line.sort_values(by= ['tot'], ascending = False)

,PG,SG,SF,PF,C,G,F,UTIL,Budget,FPPG,p1,p2,p3,p4,p5,p6,p7,p8,tot
159,Tomas Satoransky,Joe Harris,Ben Simmons,Darius Bazley,Andre Drummond,Kyrie Irving,Bruce Brown,Chris Paul,50000.0,276.97,41.50,28.00,59.50,28.50,54.25,65.00,31.75,49.00,357.50
778,Chris Paul,Zach LaVine,Tobias Harris,Thaddeus Young,Karl-Anthony Towns,Shabazz Napier,Darius Bazley,Mike Muscala,49900.0,280.99,49.00,72.50,42.50,24.75,64.50,50.00,28.50,25.00,356.75
664,Kyrie Irving,Langston Galloway,Ben Simmons,Darius Bazley,Andre Drummond,Chris Paul,Mike Muscala,Shabazz Napier,50000.0,279.96,65.00,22.25,59.50,28.50,54.25,49.00,25.00,50.00,353.50
145,Kyrie Irving,Derrick Rose,Joe Harris,Mike Muscala,Karl-Anthony Towns,Chris Paul,Hamidou Diallo,Jarrett Allen,50000.0,276.21,65.00,45.50,28.00,25.00,64.50,49.00,25.50,50.75,353.25
490,Shabazz Napier,Zach LaVine,Hamidou Diallo,Darius Bazley,Karl-Anthony Towns,Derrick Rose,Kevin Love,Mike Muscala,49900.0,275.01,50.00,72.50,25.50,28.50,64.50,45.50,40.25,25.00,351.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,Darius Garland,Andrew Wiggins,Danny Green,Kevin Love,Steven Adams,Josh Okogie,Tobias Harris,Andre Drummond,49900.0,279.17,14.50,29.75,12.25,40.25,11.75,10.25,42.50,54.25,215.50
617,Darius Garland,Matisse Thybulle,LeBron James,Thaddeus Young,Steven Adams,Josh Okogie,Al Horford,Andre Drummond,49900.0,280.57,14.50,20.75,48.25,24.75,11.75,10.25,27.00,54.25,211.50
365,Shai Gilgeous-Alexander,Furkan Korkmaz,Andrew Wiggins,Thaddeus Young,Karl-Anthony Towns,Josh Okogie,Al Horford,Steven Adams,49900.0,278.85,27.25,10.50,29.75,24.75,64.50,10.25,27.00,11.75,205.75
34,LeBron James,Furkan Korkmaz,Andrew Wiggins,Thaddeus Young,Steven Adams,Josh Okogie,Kevin Love,Tristan Thompson,50000.0,276.99,48.25,10.50,29.75,24.75,11.75,10.25,40.25,23.25,198.75
723,Coby White,Furkan Korkmaz,Andrew Wiggins,Kevin Love,Steven Adams,Caris LeVert,Anthony Davis,Tristan Thompson,49800.0,268.20,14.50,10.50,29.75,40.25,11.75,15.50,47.25,23.25,192.75

In [13]:
# save results to file

In [14]:
results = results[results.final.notna()]

In [15]:
results.to_csv('results{date}.csv'.format(date=timestr))
line.to_csv('lresults{date}.csv'.format(date=timestr))

In [16]:
results.sort_values(by='final', ascending=False)

,Line#,Top1,Top1%,Top10,Top10%,Bottom,Bottom%,ROI,ceil,AvgPt,std,odds,final
159,160,3,0.3,70,7.0,930,93.0,-30400,380.2391,278.249653,37.459415,0.056613,357.50
778,779,18,1.8,138,13.8,862,86.2,-16240,387.0854,287.160486,41.761700,1.276101,356.75
664,665,18,1.8,122,12.2,878,87.8,-18160,394.3428,286.320250,41.587984,0.493091,353.50
145,146,18,1.8,120,12.0,880,88.0,-18400,394.0986,282.878119,40.042054,0.228100,353.25
490,491,17,1.7,123,12.3,877,87.7,-18440,385.9535,282.249919,42.086149,0.169244,351.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,969,5,0.5,76,7.6,924,92.4,-28880,372.1049,280.486088,37.728150,0.663300,215.50
617,618,7,0.7,91,9.1,909,90.9,-26280,368.4646,283.218347,36.953553,0.546926,211.50
365,366,9,0.9,85,8.5,915,91.5,-26200,358.8864,280.860505,35.635481,1.709161,205.75
34,35,7,0.7,90,9.0,910,91.0,-26400,368.4251,277.463465,35.743916,1.448514,198.75
723,724,8,0.8,70,7.0,930,93.0,-28400,366.7407,269.099333,35.588566,2.236076,192.75

In [ ]:
results[results.final >= 300].sort_values(by=['final'] , ascending = False)